.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://s1.1zoom.me/big0/48/Legs_Athletic_shoe_479970.jpg');
  background-size: cover;
  background-position: center center;
}

.volver {
    float: right;
}